@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - AppleShop</title>

    <!-- Bootstrap (đổi đường dẫn nếu bạn đặt khác) -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>
<body class="auth-bg">
    <main class="auth-wrap">
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
