USE [master]
GO
/****** Object:  Database [AppleShopDb]    Script Date: 11/16/2025 7:28:21 PM ******/
CREATE DATABASE [AppleShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppleShopDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AppleShopDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppleShopDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AppleShopDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppleShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppleShopDb]
GO
/****** Object:  Table [dbo].[BienTheSanPham]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheSanPham](
	[BienTheId] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[MauSac] [nvarchar](50) NULL,
	[DungLuong] [nvarchar](50) NULL,
	[Gia] [decimal](18, 2) NULL,
	[TonKho] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[ChiTietDonHangId] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[BienTheId] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[SanPhamId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietDonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[DanhMucId] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](150) NOT NULL,
	[DanhMucChaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DanhMucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[DiaChiId] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [int] NULL,
	[TinhThanh] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[DiaChiChiTiet] [nvarchar](255) NULL,
	[MacDinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiaChiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[DonHangId] [int] IDENTITY(1,1) NOT NULL,
	[MaDon] [nvarchar](50) NULL,
	[KhachHangId] [int] NULL,
	[DiaChiGiaoHangId] [int] NULL,
	[MaGiamGiaId] [int] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [datetime] NULL,
	[HoTen] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[PhuongThucThanhToan] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[GioHangId] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GioHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhSanPham]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPham](
	[HinhAnhId] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[Url] [nvarchar](255) NULL,
	[ThuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HinhAnhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangId] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Sdt] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[NgayDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaGiamGia]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGia](
	[MaGiamGiaId] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NULL,
	[Loai] [nvarchar](20) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[NgayHetHan] [datetime] NULL,
	[DieuKien] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiamGiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucGioHang]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucGioHang](
	[MucId] [int] IDENTITY(1,1) NOT NULL,
	[GioHangId] [int] NULL,
	[BienTheId] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungQuanTri]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungQuanTri](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](150) NULL,
	[MatKhauHash] [varbinary](256) NOT NULL,
	[MatKhauSalt] [varbinary](128) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanPhamId] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[DanhMucId] [int] NOT NULL,
	[ThuongHieuId] [int] NULL,
	[NoiBat] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[ThanhToanId] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[MaGiaoDich] [nvarchar](100) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThanhToanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[ThuongHieuId] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](150) NOT NULL,
	[LogoUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ThuongHieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VanChuyen]    Script Date: 11/16/2025 7:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanChuyen](
	[VanChuyenId] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[DonViVC] [nvarchar](100) NULL,
	[MaVanDon] [nvarchar](100) NULL,
	[PhiShip] [decimal](18, 2) NULL,
	[TrangThaiVC] [nvarchar](50) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VanChuyenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BienTheSanPham] ON 

INSERT [dbo].[BienTheSanPham] ([BienTheId], [SanPhamId], [MauSac], [DungLuong], [Gia], [TonKho], [ImageUrl]) VALUES (1, 1, N'Đen', N'128GB', CAST(24990000.00 AS Decimal(18, 2)), 20, N'/imgs/iphone/iphone-17-tim.png')
INSERT [dbo].[BienTheSanPham] ([BienTheId], [SanPhamId], [MauSac], [DungLuong], [Gia], [TonKho], [ImageUrl]) VALUES (2, 1, N'Xanh', N'256GB', CAST(27990000.00 AS Decimal(18, 2)), 15, N'/imgs/iphone/iphone-17-pro-blue.png')
INSERT [dbo].[BienTheSanPham] ([BienTheId], [SanPhamId], [MauSac], [DungLuong], [Gia], [TonKho], [ImageUrl]) VALUES (3, 2, N'Titan Tự Nhiên', N'256GB', CAST(35990000.00 AS Decimal(18, 2)), 18, N'/imgs/iphone/iphone-17-pro-sliver.png')
SET IDENTITY_INSERT [dbo].[BienTheSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] ON 

INSERT [dbo].[ChiTietDonHangs] ([ChiTietDonHangId], [DonHangId], [BienTheId], [SoLuong], [DonGia], [ThanhTien], [SanPhamId]) VALUES (1, 2, NULL, 2, CAST(24990000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[ChiTietDonHangs] ([ChiTietDonHangId], [DonHangId], [BienTheId], [SoLuong], [DonGia], [ThanhTien], [SanPhamId]) VALUES (2, 4, NULL, 1, CAST(24990000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[ChiTietDonHangs] ([ChiTietDonHangId], [DonHangId], [BienTheId], [SoLuong], [DonGia], [ThanhTien], [SanPhamId]) VALUES (3, 5, NULL, 1, CAST(24990000.00 AS Decimal(18, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([DanhMucId], [Ten], [DanhMucChaId]) VALUES (1, N'iPhone', NULL)
INSERT [dbo].[DanhMuc] ([DanhMucId], [Ten], [DanhMucChaId]) VALUES (2, N'iPad', NULL)
INSERT [dbo].[DanhMuc] ([DanhMucId], [Ten], [DanhMucChaId]) VALUES (3, N'Macbook', NULL)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([DonHangId], [MaDon], [KhachHangId], [DiaChiGiaoHangId], [MaGiamGiaId], [TongTien], [TrangThai], [NgayTao], [HoTen], [DienThoai], [DiaChi], [GhiChu], [PhuongThucThanhToan]) VALUES (2, N'', NULL, NULL, NULL, CAST(49980000.00 AS Decimal(18, 2)), 4, CAST(N'2025-11-06T12:08:10.203' AS DateTime), N'Thắng', N'1900 9698 42 ', N'Địa chỉ: 128 Trần Quang Khải, P.Tân Định, TP.HCM', N'Giao giờ hành chính', N'COD')
INSERT [dbo].[DonHangs] ([DonHangId], [MaDon], [KhachHangId], [DiaChiGiaoHangId], [MaGiamGiaId], [TongTien], [TrangThai], [NgayTao], [HoTen], [DienThoai], [DiaChi], [GhiChu], [PhuongThucThanhToan]) VALUES (4, N'DH20251106134557304', NULL, NULL, NULL, CAST(24990000.00 AS Decimal(18, 2)), 1, CAST(N'2025-11-06T13:45:57.303' AS DateTime), N'Thắng', N'1900 9698 42', N'128 Trần Quang Khải, P.Tân Định, TP.HCM', N'Giao buổi tối', N'COD')
INSERT [dbo].[DonHangs] ([DonHangId], [MaDon], [KhachHangId], [DiaChiGiaoHangId], [MaGiamGiaId], [TongTien], [TrangThai], [NgayTao], [HoTen], [DienThoai], [DiaChi], [GhiChu], [PhuongThucThanhToan]) VALUES (5, N'DH20251106135553605', NULL, NULL, NULL, CAST(60980000.00 AS Decimal(18, 2)), 1, CAST(N'2025-11-06T13:55:53.607' AS DateTime), N'Mua hàng', N'1900 9698 42', N'128 Trần Quang Khải, P.Tân Địn', N'giao gấp', N'COD')
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[MaGiamGia] ON 

INSERT [dbo].[MaGiamGia] ([MaGiamGiaId], [Ma], [Loai], [GiaTri], [NgayHetHan], [DieuKien]) VALUES (1, N'APPLE10', N'percent', CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-12-04T11:51:05.010' AS DateTime), N'Áp dụng đơn >= 5,000,000đ')
INSERT [dbo].[MaGiamGia] ([MaGiamGiaId], [Ma], [Loai], [GiaTri], [NgayHetHan], [DieuKien]) VALUES (2, N'FREESHIP', N'fixed', CAST(30000.00 AS Decimal(18, 2)), CAST(N'2026-01-03T11:51:05.010' AS DateTime), N'Áp dụng toàn quốc')
SET IDENTITY_INSERT [dbo].[MaGiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungQuanTri] ON 

INSERT [dbo].[NguoiDungQuanTri] ([MaNguoiDung], [TenDangNhap], [HoTen], [MatKhauHash], [MatKhauSalt], [VaiTro], [TrangThai], [NgayTao]) VALUES (1, N'admin', N'Admin Nguyễn Đức Thắng', 0xB251F404FF8D4B1CF42C1D793039053DD359580A36378D52FC2877FE85006DCB, 0x838E91584481CC31F508261E3858DE31, N'QuanTriVien', 1, CAST(N'2025-11-07T03:41:54.2478384' AS DateTime2))
INSERT [dbo].[NguoiDungQuanTri] ([MaNguoiDung], [TenDangNhap], [HoTen], [MatKhauHash], [MatKhauSalt], [VaiTro], [TrangThai], [NgayTao]) VALUES (2, N'admin2', N'admin2', 0x01ED0E5C0E05CB6AEABB0E43D8CE9F40B7636D0CE174644D21DFE528AC4D1A12, 0xF18D776F8B45765A7412CA40B4927C1B, N'QuanTriVien', 1, CAST(N'2025-11-07T04:23:47.3973074' AS DateTime2))
INSERT [dbo].[NguoiDungQuanTri] ([MaNguoiDung], [TenDangNhap], [HoTen], [MatKhauHash], [MatKhauSalt], [VaiTro], [TrangThai], [NgayTao]) VALUES (3, N'admin3', N'admin3', 0xE0C4921D0F2EAA73CF23D2235BC142AB1272BAD99E26027AA29092557B592018, 0xCF824ED10D0F19E093A2297641BF1493, N'QuanTriVien', 1, CAST(N'2025-11-07T04:33:23.8513311' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDungQuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([ThuongHieuId], [Ten], [LogoUrl]) VALUES (1, N'Apple', N'/imgs/brands/apple.png')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DonHang__3D89F569F2850195]    Script Date: 11/16/2025 7:28:21 PM ******/
ALTER TABLE [dbo].[DonHangs] ADD UNIQUE NONCLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MaGiamGi__3214CC9EC434DEFD]    Script Date: 11/16/2025 7:28:21 PM ******/
ALTER TABLE [dbo].[MaGiamGia] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC039054EF3]    Script Date: 11/16/2025 7:28:21 PM ******/
ALTER TABLE [dbo].[NguoiDungQuanTri] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ThanhToa__D159F4BFF9641CE1]    Script Date: 11/16/2025 7:28:21 PM ******/
ALTER TABLE [dbo].[ThanhToan] ADD UNIQUE NONCLUSTERED 
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__VanChuye__D159F4BFF92136F9]    Script Date: 11/16/2025 7:28:21 PM ******/
ALTER TABLE [dbo].[VanChuyen] ADD UNIQUE NONCLUSTERED 
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BienTheSanPham] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[DiaChi] ADD  DEFAULT ((0)) FOR [MacDinh]
GO
ALTER TABLE [dbo].[DonHangs] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[NguoiDungQuanTri] ADD  DEFAULT (N'QuanTriVien') FOR [VaiTro]
GO
ALTER TABLE [dbo].[NguoiDungQuanTri] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDungQuanTri] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [NoiBat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BienTheSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([DonHangId])
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_BienTheSanPham] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_BienTheSanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([DonHangId])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_SanPham]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD FOREIGN KEY([DanhMucChaId])
REFERENCES [dbo].[DanhMuc] ([DanhMucId])
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD FOREIGN KEY([DiaChiGiaoHangId])
REFERENCES [dbo].[DiaChi] ([DiaChiId])
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD FOREIGN KEY([MaGiamGiaId])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGiaId])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[HinhAnhSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
GO
ALTER TABLE [dbo].[MucGioHang]  WITH CHECK ADD FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
GO
ALTER TABLE [dbo].[MucGioHang]  WITH CHECK ADD FOREIGN KEY([GioHangId])
REFERENCES [dbo].[GioHang] ([GioHangId])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMuc] ([DanhMucId])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([ThuongHieuId])
REFERENCES [dbo].[ThuongHieu] ([ThuongHieuId])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([DonHangId])
GO
ALTER TABLE [dbo].[VanChuyen]  WITH CHECK ADD FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([DonHangId])
GO
USE [master]
GO
